[user]
        name = Kirill Beskhitrov
        email = beskhitrov@gmail.com
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t
        dump = cat-file -p
[init]
        defaultBranch = main
[credential]
        helper = store
[core]
        autocrlf = input
        safecrlf = true
	quotepath = false
	precomposeunicode = true
	excludesfile = ~/.gitexcludes
[color]
	ui = true
